section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{

text-transform: uppercase;
font-family: 'Roboto', sans-serif;
letter-spacing: 2px;
}

body{

    background-color: #c5c3c6;
}

td{
    
    /* margin: 10px; */
    border: 0px;
    width: 40px;
    height: 30px;
    margin: -2px;
    

    
    
}

button{

    display: flex;
    border: 0px solid black;
    padding: 30px;
    padding-left: 30px;
    align-items: center;
    justify-content: flex-start;
    padding-right: 30px;
    background-color: white;
    margin: -2px;
    font-size:medium;
    font-weight: bold;
     font-family: 'Roboto', sans-serif;
     letter-spacing: -1px;
     
    
}

.zero{

    border-bottom-left-radius: 15px;
}


table{


    background-color: white;
    margin: 75px;

        box-shadow: 5px 5px 5px grey;
margin-top: 0px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;

}

.dot{
    font-size: larger;
    font-weight: bold;
}

.equaltoo{

    background-color: #f48c06;
    border-radius: 10px;
    
}
.equaltoobtn{

    background-color: #f48c06;
    border-radius: 10px;
    
    
}



button:hover{

    background-color: #e5e5e5;
}


td:hover{

    background-color: #e5e5e5;
}

input{

    width: 273px;
    margin-top: 75px;
    height: 50px;
 box-shadow: 5px 5px 5px grey;
 border: 0px;
 background-color: black;
color: white;
font-size: large;
font-weight:bold;
font-family: 'Roboto', sans-serif;
border-top-left-radius: 10px;
border-top-right-radius: 10px;


}


.equaltoo:hover{

    background-color: #f48c06;
    cursor: pointer;
}
.equaltoobtn:hover{

    background-color: #f48c06;
    
    
}
